appdirs
asgiref
beautifulsoup4
bs4
certifi
charset-normalizer
click
colorama
configparser
crayons
cssselect
deep-translator
Django
fake-useragent
idna
importlib-metadata
joblib
lxml
nltk
parse
Pillow
pyee
pyppeteer
pyquery
regex
requests
requests-html
six
soupsieve
sqlparse
tqdm
tzdata
urllib3
w3lib
webdriver-manager
websockets
zipp