{% extends 'base.html' %}
{% block cactive %}active{% endblock cactive %}
{% block css %}
<style>
</style>
{% endblock css %}
{% block body %}
<div class="card mb-5 text-black container mt-3" style="width: fit-content;">
    <div class="card-body">
        <i class="fas fa-map-marker-alt"></i>
        <span class="ml-2">&nbsp;Maharashtra, India</span>
        <br><br>
        <i class="fas fa-phone-alt"></i>
        <span class="ml-2"></span>
        <br><br>
        <i class="fas fa-envelope"></i>
        <a class="ml-2" href="mailto: newsmesh54@gmail.com">&nbsp;newsmesh54@gmail.com</a>
    </div>
</div>

{% endblock body %}